.footer_wrapper {
    width: 100%;
    background:rgb(18, 17, 17);
    margin: 64px 340px 64px 340px;
    color: aliceblue;
    display: flex;

    padding: 64px 340px;
 

}
.title_grn
{
    color: #00DF9A;
    font-family: Roboto;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
}
.p_text_footet{
    color: #D1D5DB;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;

    padding: 16px 12.33px 16px 0px;
}
