@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: .5s all;
    text-decoration: none;
}

.trial {
    display: flex;
    justify-content: space-between;
    padding: 160px 340px;
    align-items: center;
}