.header {
    width: 100%;
    height: 1080px;
    background: #000;
}

.nav {
    width: 1240px;
    height: 96px;
    padding: 30px 16px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__title {
    color: #00DF9A;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px; 
    text-transform: uppercase;
}

.nav__title_menu {
    display: none;
}

.nav__wrapper {
    width: 450px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__link {
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
}

.nav__link:hover {
    font-size: 18px;
    text-decoration: underline;
    color: #00DF9A;
}

.hamburger {
    display: none;
}

@media (max-width: 480px) {
    .nav {
        width: 100%;
        padding: 30px;
        position: relative;
    }

    .nav__wrapper {
        justify-content: start;
        width: 50%;
        height: 100vh;
        background: #000;
        position: absolute;
        top: 0;
        left: -100%;
        flex-direction: column;
        gap: 30px;
        padding-bottom: 20px;
        border-right: 1px solid #4B5563;
        transition: .8s all;
    }

    .show {
        left: 0;
    }

    .nav__title_menu {
        display: block;
        margin-top: 30px;
    }

    .nav__link {
        width: 100%;
        font-size: 16px;
        display: inline-flex;
        padding: 16px 79.86px 17px 16px;
        flex-direction: column;
        align-items: flex-start;
        position: relative;
    }

    .nav__link:not(:last-child):after {
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        background: #4B5563;
        position: absolute;
        left: 0;
        bottom: -15px;
    }

    .nav__link:nth-child(6) {
        border-bottom: 0;
    }

    .hamburger {
        display: block;
    }

    .hamburger span {
        display: block;
        height: 2px;
        width: 26px;
        margin: 0 auto;
        background-color: #fff;
        margin-bottom: 4px;
    }

    .hamburger_active span {
        margin-bottom: -2px;
    }

    .hamburger_active span:nth-child(1) {
        transform: translateY(3px) rotate(-45deg);
    }

    .hamburger_active span:nth-child(2) {
        width: 0;
        height: 0;
    }

    .hamburger_active span:nth-child(3) {
        transform: translateY(3px) rotate(45deg);
    }

    .overflow {
        overflow: hidden;
    }
}